# 1 String

In [70]:
'hello'

'hello'

In [13]:
'do'

'do'

In [14]:
'didn\'t'

"didn't"

In [15]:
"didn't"

"didn't"

In [16]:
"'hey', how are you?"

"'hey', how are you?"

In [24]:
s = 'line 1 \nline2'

In [25]:
s

'line 1 \nline2'

In [26]:
print(s)

line 1
line2

In [27]:
z = '\name'

In [28]:
z

'\name'

In [29]:
print(z)

ame

In [30]:
z = r'\name'

In [31]:
print(z)

\name

In [33]:
z= """Hey,
How are you?
"""

In [34]:
print(z)

Hey,
How are you?

# 1.1 * and + Operators with string

In [36]:
3 * 'hi '

'hi hi hi '

In [39]:
'hi ' *3 + 'how are you'

'hi hi hi how are you'

In [37]:
'h''i'

'hi'

In [40]:
z = 'pre'

In [41]:
z + 'defined'

'predefined'

# 1.2 Indexing

In [42]:
country = 'india'

In [43]:
country[0]

'i'

In [44]:
country[2]

'd'

In [45]:
country[-1]

'a'

In [46]:
country[-2]

'i'

In [71]:
country[-4]

'n'

# 1.3 Slicing

In [49]:
country[0:2] # first number is inclusive and last number is esclusive [in:ex]

'in'

In [51]:
country[2:]

'dia'

In [52]:
country[0:2] + country[2:]

'india'

In [53]:
country[:2]

'in'

In [56]:
country[-3:-1]

'di'

india <br>
-1-> a <br>
-2 -> i <br>
-3 -> d <br>
-4 -> n <br>
-5 -> i <br>

In [57]:
country[42]

IndexError: string index out of range

In [59]:
country[2:15]

'dia'

In [61]:
country[15:]

''

In [63]:
country[0] = 'I' #string are immutable in nature

TypeError: 'str' object does not support item assignment

In [64]:
'I' + country[1:]

'India'

In [65]:
len(country)

5

In [66]:
country.capitalize() # first word Capital rest lower

'India'

In [67]:
country.casefold() #used for caseless matching

'india'

In [69]:
country.

TypeError: count() takes at least 1 argument (0 given)

# 2. Lists

In [72]:
sq = [1,4,9,16,25,36]

In [73]:
sq

[1, 4, 9, 16, 25, 36]

In [74]:
sq[0]

1

In [75]:
sq[-1]

36

In [80]:
sq[-4:-1]

[9, 16, 25]

In [81]:
square = sq[:] #shallow copy -> changes in 'sq' will not affect 'square'

In [82]:
sqs = sq # Deep Copy -> changes in 'sq' will affect the 'sqs'

In [85]:
sq = sq + [49, 64, 81, 100 ] # list also support concatenation operation. list are mutable in nature

In [86]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
cube = [1,8,27,65,125,216]

In [88]:
4**3

64

In [89]:
cube[3] = 64 #list are mutable in nature

In [90]:
cube

[1, 8, 27, 64, 125, 216]

In [93]:
cube.append(7**3)

In [94]:
cube

[1, 8, 27, 64, 125, 216, 343]

In [95]:
letters = ['a','b','c','d','e','f','g','h']

In [96]:
letters[2:5]

['c', 'd', 'e']

In [98]:
letters[2:5] = ['C','D','E'] #replacing some values

In [99]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g', 'h']

In [100]:
letters[2:5] = [] #removing item from list

In [101]:
letters

['a', 'b', 'f', 'g', 'h']

In [102]:
len(letters)

5

In [103]:
x = [1,2,3]
z = ['a','b','c','d']

In [104]:
a = [x,z] #creating nested list

In [105]:
a

[[1, 2, 3], ['a', 'b', 'c', 'd']]

In [107]:
a[0]

[1, 2, 3]

In [109]:
a[1][3]

'd'